
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section jsFooter{
<script src="~/Assets/Admin/customJS/statistic.js"></script>
}
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Thống kê sản phẩm</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        
        <div class="box-body chart-responsive">
            <div class="row col-lg-12 wrap-datetimepicker">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Từ ngày: </label>
                        <div class='input-group date' id='start-date'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Đến ngày: </label>
                        <div class='input-group date' id='end-date'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="">
                    <button type="button" class="btn btn-block btn-primary" id="statistic">Thống kê</button>
                </div>
                
            </div>
            <div class="clearfix"></div>
            <p class="text-danger text-center" id="msg-statistic">Chưa có dữ liệu! Mời chọn thời gian thống kê!</p>
            <div id="bar-example"></div>
        </div>
        <!-- /.box-body -->
    </div>
</section>


