<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/Assets/Client/zorka/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/Assets/Client/zorka/images/favicon.ico" type="image/x-icon">
    <script type="text/javascript">document.documentElement.className = document.documentElement.className + ' yes-js js_active js'</script>
    <title>Home 1 | Zorka &#8211; An intuitive fashion WordPress theme</title>
    <link rel="stylesheet" href="/Assets/Client/zorka/sitepress-multilingual-cms/res/css/language-selector.css" type="text/css" media="all">
    <style>
        .wishlist_table .add_to_cart, a.add_to_wishlist.button.alt {
            border-radius: 16px;
            -moz-border-radius: 16px;
            -webkit-border-radius: 16px;
        }
    </style>
    <link rel='stylesheet' href='/Assets/Client/zorka/zorka-shortcode/vc-extend/animation.min.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/Assets/Client/zorka/contact-form-7/includes/styles.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/Assets/Client/zorka/revslider/rs-plugin/css/settings.css' type='text/css' media='all'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Montserrat%3A400%2C700' type='text/css' media='all'>
    <link rel='stylesheet' href='/Assets/Client/zorka/woocommerce/assets/css/woocommerce-layout.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/Assets/Client/zorka/woocommerce/assets/css/woocommerce-smallscreen.css' type='text/css' media='only screen and (max-width: 768px)'>
    <link rel='stylesheet' href='/Assets/Client/zorka/woocommerce/assets/css/woocommerce.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/Assets/Client/zorka/xmenu/assets/css/amination.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/Assets/Client/zorka/xmenu/assets/css/style.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/Assets/Client/zorka/xmenu/assets/css/fonts-awesome/css/font-awesome.min.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/Assets/Client/zorka/yith-woocommerce-compare/assets/css/colorbox.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/Assets/Client/zorka/woocommerce/assets/css/prettyPhoto.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/Assets/Client/zorka/yith-woocommerce-wishlist/assets/css/jquery.selectBox.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/Assets/Client/zorka/yith-woocommerce-wishlist/assets/css/style.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/Assets/Client/zorka/mailchimp-for-wp/assets/css/checkbox.min.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/Assets/Client/zorka/mailchimp-for-wp/assets/css/form.min.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/Assets/Client/zorka/js_composer/assets/css/js_composer.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/Assets/Client/zorka/zorka-shortcode/portfolio/assets/css/prettyPhoto.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/Assets/Client/zorka/assets/plugins/bootstrap/css/bootstrap.min.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/Assets/Client/zorka/assets/plugins/fonts-awesome/css/font-awesome-animation.min.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/Assets/Client/zorka/assets/css/pe-icon-7-stroke.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/Assets/Client/zorka/assets/css/font-icon.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/Assets/Client/zorka/assets/plugins/owl-carousel/owl.carousel.min.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/Assets/Client/zorka/assets/plugins/owl-carousel/owl.theme.min.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/Assets/Client/zorka/assets/plugins/owl-carousel/owl.transitions.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/Assets/Client/zorka/assets/css/style.min.css' type='text/css' media='all'>
    <script type='text/javascript' src='/Assets/Client/zorka/assets/js/jquery/jquery.js'></script>
    <script type='text/javascript' src='/Assets/Client/zorka/assets/js/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='/Assets/Client/zorka/revslider/rs-plugin/js/jquery.themepunch.tools.min.js'></script>
    <script type='text/javascript' src='/Assets/Client/zorka/revslider/rs-plugin/js/jquery.themepunch.revolution.min.js'></script>
    <script type='text/javascript' src='/Assets/Client/zorka/woocommerce/assets/js/frontend/add-to-cart.min.js'></script>
    <script type='text/javascript' src='/Assets/Client/zorka/js_composer/assets/js/vendors/woocommerce-add-to-cart.js'></script>
    <script type='text/javascript' src='/Assets/Client/zorka/zorka-shortcode/portfolio/assets/js/prettyPhoto/jquery.prettyPhoto.js'></script>
    <script type='text/javascript' src='/Assets/Client/zorka/zorka-shortcode/portfolio/assets/js/isotope/isotope.pkgd.min.js'></script>
    <script type='text/javascript' src='/Assets/Client/zorka/zorka-shortcode/portfolio/assets/js/hoverdir/modernizr.js'></script>
    <script type='text/javascript' src='/Assets/Client/zorka/zorka-shortcode/portfolio/assets/js/hoverdir/jquery.hoverdir.js'></script>
    <script type='text/javascript' src='/Assets/Client/zorka/zorka-shortcode/portfolio/assets/js/ajax-action.min.js'></script>
    <script type='text/javascript' src='/Assets/Client/zorka/zorka-shortcode/products/assets/js/trending.min.js'></script>
    <script type="text/javascript">
         jQuery(document).ready(function() {
         	// CUSTOM AJAX CONTENT LOADING FUNCTION
         	var ajaxRevslider = function(obj) {

         		// obj.type : Post Type
         		// obj.id : ID of Content to Load
         		// obj.aspectratio : The Aspect Ratio of the Container / Media
         		// obj.selector : The Container Selector where the Content of Ajax will be injected. It is done via the Essential Grid on Return of Content

         		var content = "";

         		data = {};

         		data.action = 'revslider_ajax_call_front';
         		data.client_action = 'get_slider_html';
         		data.token = '1241775180';
         		data.type = obj.type;
         		data.id = obj.id;
         		data.aspectratio = obj.aspectratio;

         		// SYNC AJAX REQUEST
         		jQuery.ajax({
         			type:"post",
         			url:"http://themes.g5plus.net/zorka/wp-admin/admin-ajax.php",
         			dataType: 'json',
         			data:data,
         			async:false,
         			success: function(ret, textStatus, XMLHttpRequest) {
         				if(ret.success == true)
         					content = ret.data;
         			},
         			error: function(e) {
         				console.log(e);
         			}
         		});

         		 // FIRST RETURN THE CONTENT WHEN IT IS LOADED !!
         		 return content;
         	};

         	// CUSTOM AJAX FUNCTION TO REMOVE THE SLIDER
         	var ajaxRemoveRevslider = function(obj) {
         		return jQuery(obj.selector+" .rev_slider").revkill();
         	};

         	// EXTEND THE AJAX CONTENT LOADING TYPES WITH TYPE AND FUNCTION
         	var extendessential = setInterval(function() {
         		if (jQuery.fn.tpessential != undefined) {
         			clearInterval(extendessential);
         			if(typeof(jQuery.fn.tpessential.defaults) !== 'undefined') {
         				jQuery.fn.tpessential.defaults.ajaxTypes.push({type:"revslider",func:ajaxRevslider,killfunc:ajaxRemoveRevslider,openAnimationSpeed:0.3});
         				// type:  Name of the Post to load via Ajax into the Essential Grid Ajax Container
         				// func: the Function Name which is Called once the Item with the Post Type has been clicked
         				// killfunc: function to kill in case the Ajax Window going to be removed (before Remove function !
         				// openAnimationSpeed: how quick the Ajax Content window should be animated (default is 0.3)
         			}
         		}
         	},30);
         });
    </script>
    <meta name="generator" content="WPML ver:3.1.9 stt:1,4,3,27,2,29;0">
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <style type="text/css">
        .mc4wp-form input[name="_mc4wp_required_but_not_really"] {
            display: none !important;
        }
    </style>
    <style type="text/css" data-type="vc_shortcodes-custom-css">
        .vc_custom_1427700579120 {
            padding-top: 40px !important;
            padding-bottom: 40px !important;
            background-color: #fafafa !important;
        }

        .vc_custom_1444360272531 {
            background-image: url(http://themes.g5plus.net/zorka/wp-content/uploads/2015/03/bg-mailchimp.jpg?id=1291) !important;
            background-position: center;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }
    </style>
    <style type="text/css" data-type="vc_shortcodes-custom-css">
        .vc_custom_1442214739341 {
            margin-top: -20px !important;
        }

        .vc_custom_1444361040267 {
            background-image: url("/Images/bg-counter.jpg") !important;
            background-position: center;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }
    </style>
    
    <noscript>
        <style>
            .wpb_animate_when_almost_visible {
                opacity: 1;
            }
        </style>
    </noscript>
    <link href="~/Content/Custom/styleClient.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
</head>
<body class="page page-id-37 page-template-default header-6 woocommerce wpb-js-composer js-comp-ver-4.7.4 vc_responsive">
    <div id="wrapper" class="clearfix animsition">
        <!--Header-->
        @{
            Html.RenderAction("Header", "HomeClient");
        }
        <div id="wrapper-content">
            <main role="main" class="site-content">
                <div id="post-37" class="post-37 page type-page status-publish hentry">
                    <div class="entry-content">
                        @RenderBody()
                    </div>
                </div>
            </main>
        </div>
        @Html.Partial("Footer")
    </div>
    <a class="gotop" href="javascript:;">
        <i class="pe-7s-angle-up"></i>
    </a>
    <script type="text/javascript">
        (function () {

            function addSubmittedClass() {
                var className = 'mc4wp-form-submitted';
                (this.classList) ? this.classList.add(className) : this.className += ' ' + className;
            }

            var forms = document.querySelectorAll('.mc4wp-form');
            for (var i = 0; i < forms.length; i++) {
                (function (f) {

                    // hide honeypot
                    var honeypot = f.querySelector('input[name="_mc4wp_required_but_not_really"]');
                    honeypot.style.display = 'none';
                    honeypot.setAttribute('type', 'hidden');

                    // add class on submit
                    var b = f.querySelector('[type="submit"]');
                    if (b.addEventListener) {
                        b.addEventListener('click', addSubmittedClass.bind(f));
                    } else {
                        b.attachEvent('onclick', addSubmittedClass.bind(f));
                    }

                })(forms[i]);
            }
        })();


    </script>
    <script type='text/javascript' src='/Assets/Client/zorka/contact-form-7/includes/js/jquery.form.min.js'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var _wpcf7 = { "loaderUrl": "http:\/\/themes.g5plus.net\/zorka\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif", "sending": "Sending ...", "cached": "1" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='/Assets/Client/zorka/contact-form-7/includes/js/scripts.js'></script>
    <script type='text/javascript' src='/Assets/Client/zorka/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var woocommerce_params = { "ajax_url": "\/zorka\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/zorka\/home-1\/?wc-ajax=%%endpoint%%" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='/Assets/Client/zorka/woocommerce/assets/js/frontend/woocommerce.min.js'></script>
    <script type='text/javascript' src='/Assets/Client/zorka/woocommerce/assets/js/jquery-cookie/jquery.cookie.min.js'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wc_cart_fragments_params = { "ajax_url": "\/zorka\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/zorka\/home-1\/?wc-ajax=%%endpoint%%", "fragment_name": "wc_fragments" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='/Assets/Client/zorka/woocommerce/assets/js/frontend/cart-fragments.min.js'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var yith_woocompare = { "nonceadd": "c579aa135f", "nonceremove": "73b43391c3", "nonceview": "bfb8e559af", "ajaxurl": "http:\/\/themes.g5plus.net\/zorka\/wp-admin\/admin-ajax.php", "actionadd": "yith-woocompare-add-product", "actionremove": "yith-woocompare-remove-product", "actionview": "yith-woocompare-view-table", "added_label": "Added", "table_title": "Product Comparison", "auto_open": "yes" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='/Assets/Client/zorka/yith-woocommerce-compare/assets/js/woocompare.js'></script>
    <script type='text/javascript' src='/Assets/Client/zorka/yith-woocommerce-compare/assets/js/jquery.colorbox-min.js'></script>
    <script type='text/javascript' src='/Assets/Client/zorka/woocommerce/assets/js/prettyPhoto/jquery.prettyPhoto.min.js'></script>
    <script type='text/javascript' src='/Assets/Client/zorka/woocommerce/assets/js/prettyPhoto/jquery.prettyPhoto.init.min.js'></script>
    <script type='text/javascript' src='/Assets/Client/zorka/yith-woocommerce-wishlist/assets/js/jquery.selectBox.min.js'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var yith_wcwl_l10n = { "ajax_url": "http:\/\/themes.g5plus.net\/zorka\/wp-admin\/admin-ajax.php", "redirect_to_cart": "no", "multi_wishlist": "", "hide_add_button": "1", "is_user_logged_in": "", "ajax_loader_url": "http:\/\/themes.g5plus.net\/zorka\/wp-content\/plugins\/yith-woocommerce-wishlist\/assets\/images\/ajax-loader.gif", "remove_from_wishlist_after_add_to_cart": "yes", "labels": { "cookie_disabled": "We are sorry, but this feature is available only if cookies are enabled on your browser." }, "actions": { "add_to_wishlist_action": "add_to_wishlist", "remove_from_wishlist_action": "remove_from_wishlist" } };
        /* ]]> */
    </script>
    <script type='text/javascript' src='/Assets/Client/zorka/yith-woocommerce-wishlist/assets/js/jquery.yith-wcwl.js'></script>
    <script type='text/javascript' src='/Assets/Client/zorka/assets/plugins/bootstrap/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='/Assets/Client/zorka/assets/js/plugins.js'></script>
    <script type='text/javascript' src='/Assets/Client/zorka/assets/plugins/smoothscroll/SmoothScroll.min.js'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var zorka_constant = { "product_compare": "Compare", "product_wishList": "WishList", "product_add_to_cart": "Add to cart", "product_view_cart": "View cart" };
        var zorka_ajax_url = "http:\/\/themes.g5plus.net\/zorka\/wp-admin\/admin-ajax.php?activate-multi=true";
        var zorka_theme_url = "http:\/\/themes.g5plus.net\/zorka\/wp-content\/themes\/zorka\/";
        var zorka_site_url = "http:\/\/themes.g5plus.net\/zorka";
        /* ]]> */
    </script>
    <script type='text/javascript' src='/Assets/Client/zorka/assets/js/app.min.js'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var icl_vars = { "current_language": "en", "icl_home": "http:\/\/themes.g5plus.net\/zorka" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='/Assets/Client/zorka/sitepress-multilingual-cms/res/js/sitepress.js'></script>
    <script type='text/javascript' src='/Assets/Client/zorka/js_composer/assets/js/js_composer_front.js'></script>
    <script type='text/javascript' src='/Assets/Client/zorka/js_composer/assets/lib/bower/skrollr/dist/skrollr.min.js'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var xmenu_meta = { "setting-responsive-breakpoint": "" };
        var xmenu_meta_custom = [];
        /* ]]> */
    </script>
    <script type='text/javascript' src='/Assets/Client/zorka/xmenu/assets/js/app.min.js'></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Assets/Client/customJs/search.js"></script>
    <link href="/Assets/Client/zorka/assets/css/styleIndex.css" rel="stylesheet" />
    @RenderSection("jsFooter", required: false)
    <script>
        jQuery(function ($) {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <script src="~/Assets/Client/customJs/checkout.js"></script>
    <script src="~/Assets/Client/customJs/activeMenu.js"></script>
    <script src="~/Assets/Client/customJs/modal.js"></script>
</body>
</html>