@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thông tin đơn hàng từ ZorkaShop gửi cho khách hàng {{CustomerName}}</title>
</head>
<body>
    <div>
        Họ tên : {{CustomerName}}<br />
        Email: {{CustomerEmail}}<br />
        Số điện thoại: {{CustomerPhone}}<br />
        Địa chỉ giao hàng: {{CustomerAddress}}<br />
        Trị giá đơn hàng: ${{Total}}
    </div>
</body>
</html>
