<div class="ak-container">
    <div class="feature-cat-product-wrap">
        <div class="feature-cat-image right_align">
            <img src="/Assets/Client/wp-content/uploads/2017/04/guess-attic-837156_1.jpg" />
            <div class="product-cat-desc">
                <h3>
                    Women's Clothing
                </h3>
                <div class="cat_desc"></div>
            </div>
        </div>
        <div class="feature-cat-product right_align">
            <div class="feature-prod-wrap wow flipInY" data-wow-delay="1s">
                <div class="first post-99 product type-product status-publish has-post-thumbnail product_cat-new-product product_cat-womens-clothing instock shipping-taxable product-type-simple">
                    <a href="product/cream-stylist-designed-coat/index.html"
                       class="woocommerce-LoopProduct-link"></a>
                    <div class="item-img">
                        <a href="product/cream-stylist-designed-coat/index.html" title="CREAM STYLIST DESIGNED COAT">
                            <img width="270" height="270" src="/Assets/Client/wp-content/uploads/2017/04/Cream-Stylish-Designed-Coat-1jpg.jpg"
                                 class="attachment-shop_catalog size-shop_catalog wp-post-image"
                                 alt="" srcset="http://localhost/haunguyen/wp-content/uploads/2017/04/Cream-Stylish-Designed-Coat-1jpg.jpg 270w, http://localhost/haunguyen/wp-content/uploads/2017/04/Cream-Stylish-Designed-Coat-1jpg-150x150.jpg 150w, http://localhost/haunguyen/wp-content/uploads/2017/04/Cream-Stylish-Designed-Coat-1jpg-180x180.jpg 180w"
                                 sizes="(max-width: 270px) 100vw, 270px" />
                        </a> <a rel="nofollow" href="product/cream-stylist-designed-coat/index.html"
                                data-quantity="1" data-product_id="99"
                                data-product_sku="" class="button product_type_simple ajax_add_to_cart">
                            Read
                            more
                        </a>
                    </div><a href="product/cream-stylist-designed-coat/index.html" title="CREAM STYLIST DESIGNED COAT"></a>
                    <h3>
                        <a href="product/cream-stylist-designed-coat/index.html" title="CREAM STYLIST DESIGNED COAT">
                            CREAM STYLIST DESIGNED
                            COAT
                        </a>
                    </h3>
                    <p class="short_desc">
                        <a href="product/cream-stylist-designed-coat/index.html" title="CREAM STYLIST DESIGNED COAT">
                            Lorem Ipsum is
                            simpl...
                        </a>
                    </p>
                    <div class="price-cart"></div><a class="item-wishlist"
                                                     href="index5f9c.html?add_to_wishlist=99">Wishlist</a>
                </div>
            </div>
            <div class="feature-prod-wrap wow flipInY" data-wow-delay="1.5s">
                <div class="last post-98 product type-product status-publish has-post-thumbnail product_cat-new-product product_cat-womens-clothing first instock shipping-taxable product-type-simple">
                    <a href="product/grey-net-woollen-sleeveless/index.html"
                       class="woocommerce-LoopProduct-link"></a>
                    <div class="item-img">
                        <a href="product/grey-net-woollen-sleeveless/index.html" title="GREY NET WOOLLEN SLEEVELESS">
                            <img width="270" height="270" src="wp-content/uploads/2017/04/Grey-net-woollen-sleeveless-tee-1.jpg"
                                 class="attachment-shop_catalog size-shop_catalog wp-post-image"
                                 alt="" srcset="http://localhost/haunguyen/wp-content/uploads/2017/04/Grey-net-woollen-sleeveless-tee-1.jpg 270w, http://localhost/haunguyen/wp-content/uploads/2017/04/Grey-net-woollen-sleeveless-tee-1-150x150.jpg 150w, http://localhost/haunguyen/wp-content/uploads/2017/04/Grey-net-woollen-sleeveless-tee-1-180x180.jpg 180w"
                                 sizes="(max-width: 270px) 100vw, 270px" />
                        </a> <a rel="nofollow" href="product/grey-net-woollen-sleeveless/index.html"
                                data-quantity="1" data-product_id="98"
                                data-product_sku="" class="button product_type_simple ajax_add_to_cart">
                            Read
                            more
                        </a>
                    </div><a href="product/grey-net-woollen-sleeveless/index.html" title="GREY NET WOOLLEN SLEEVELESS"></a>
                    <h3>
                        <a href="product/grey-net-woollen-sleeveless/index.html" title="GREY NET WOOLLEN SLEEVELESS">
                            GREY NET WOOLLEN
                            SLEEVELESS
                        </a>
                    </h3>
                    <p class="short_desc">
                        <a href="product/grey-net-woollen-sleeveless/index.html" title="GREY NET WOOLLEN SLEEVELESS">
                            Lorem Ipsum is
                            simpl...
                        </a>
                    </p>
                    <div class="price-cart"></div><a class="item-wishlist"
                                                     href="index673a.html?add_to_wishlist=98">Wishlist</a>
                </div>
            </div>
            <div class="feature-prod-wrap wow flipInY" data-wow-delay="2s">
                <div class="post-97 product type-product status-publish has-post-thumbnail product_cat-new-product product_cat-womens-clothing last instock shipping-taxable product-type-simple">
                    <a href="product/womens-jeans-shirt/index.html" class="woocommerce-LoopProduct-link"></a>
                    <div class="item-img">
                        <a href="product/womens-jeans-shirt/index.html" title="WOMEN’S JEANS SHIRT">
                            <img width="270" height="270"
                                 src="/Assets/Client/wp-content/uploads/2017/04/womens-shirtjeans-1.png"
                                 class="attachment-shop_catalog size-shop_catalog wp-post-image"
                                 alt="" srcset="http://localhost/haunguyen/wp-content/uploads/2017/04/womens-shirtjeans-1.png 270w, http://localhost/haunguyen/wp-content/uploads/2017/04/womens-shirtjeans-1-150x150.png 150w, http://localhost/haunguyen/wp-content/uploads/2017/04/womens-shirtjeans-1-180x180.png 180w"
                                 sizes="(max-width: 270px) 100vw, 270px" />
                        </a> <a rel="nofollow" href="product/womens-jeans-shirt/index.html"
                                data-quantity="1" data-product_id="97"
                                data-product_sku="" class="button product_type_simple ajax_add_to_cart">
                            Read
                            more
                        </a>
                    </div><a href="product/womens-jeans-shirt/index.html"
                             title="WOMEN’S JEANS SHIRT"></a>
                    <h3>
                        <a href="product/womens-jeans-shirt/index.html" title="WOMEN’S JEANS SHIRT">WOMEN’S JEANS SHIRT</a>
                    </h3>
                    <p class="short_desc">
                        <a href="product/womens-jeans-shirt/index.html" title="WOMEN’S JEANS SHIRT">Lorem Ipsum is simpl...</a>
                    </p>
                    <div class="price-cart"></div><a class="item-wishlist"
                                                     href="index87d5.html?add_to_wishlist=97">Wishlist</a>
                </div>
            </div>
            <div class="feature-prod-wrap wow flipInY" data-wow-delay="2.5s">
                <div class="first post-87 product type-product status-publish has-post-thumbnail product_cat-new-product product_cat-womens-clothing instock shipping-taxable product-type-simple">
                    <a href="product/t-shirt-with-tribal-print/index.html"
                       class="woocommerce-LoopProduct-link"></a>
                    <div class="item-img">
                        <a href="product/t-shirt-with-tribal-print/index.html"
                           title="T-SHIRT WITH TRIBAL PRINT">
                            <img width="270"
                                 height="270" src="/Assets/Client/wp-content/uploads/2017/04/Tshirt-with-tribal-print-1.jpg"
                                 class="attachment-shop_catalog size-shop_catalog wp-post-image"
                                 alt="" srcset="http://localhost/haunguyen/wp-content/uploads/2017/04/Tshirt-with-tribal-print-1.jpg 270w, http://localhost/haunguyen/wp-content/uploads/2017/04/Tshirt-with-tribal-print-1-150x150.jpg 150w, http://localhost/haunguyen/wp-content/uploads/2017/04/Tshirt-with-tribal-print-1-180x180.jpg 180w"
                                 sizes="(max-width: 270px) 100vw, 270px" />
                        </a> <a rel="nofollow" href="product/t-shirt-with-tribal-print/index.html"
                                data-quantity="1" data-product_id="87"
                                data-product_sku="" class="button product_type_simple ajax_add_to_cart">
                            Read
                            more
                        </a>
                    </div><a href="product/t-shirt-with-tribal-print/index.html" title="T-SHIRT WITH TRIBAL PRINT"></a>
                    <h3>
                        <a href="product/t-shirt-with-tribal-print/index.html"
                           title="T-SHIRT WITH TRIBAL PRINT">
                            T-SHIRT WITH TRIBAL
                            PRINT
                        </a>
                    </h3>
                    <p class="short_desc">
                        <a href="product/t-shirt-with-tribal-print/index.html"
                           title="T-SHIRT WITH TRIBAL PRINT">
                            Lorem Ipsum is
                            simpl...
                        </a>
                    </p>
                    <div class="price-cart"></div><a class="item-wishlist"
                                                     href="indexe77c.html?add_to_wishlist=87">Wishlist</a>
                </div>
            </div>
            <div class="feature-prod-wrap wow flipInY" data-wow-delay="3s">
                <div class="last post-70 product type-product status-publish has-post-thumbnail product_cat-hot-sales product_cat-new-product product_cat-womens-clothing first instock shipping-taxable product-type-simple">
                    <a href="product/red-woments-shirt/index.html" class="woocommerce-LoopProduct-link"></a>
                    <div class="item-img">
                        <a href="product/red-woments-shirt/index.html" title="RED WOMENT’S SHIRT">
                            <img width="270" height="270" src="/Assets/Client/wp-content/uploads/2017/04/shirt-1.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image"
                                 alt="" srcset="http://localhost/haunguyen/wp-content/uploads/2017/04/shirt-1.jpg 270w, http://localhost/haunguyen/wp-content/uploads/2017/04/shirt-1-150x150.jpg 150w, http://localhost/haunguyen/wp-content/uploads/2017/04/shirt-1-180x180.jpg 180w"
                                 sizes="(max-width: 270px) 100vw, 270px" />
                        </a> <a rel="nofollow" href="product/red-woments-shirt/index.html"
                                data-quantity="1" data-product_id="70"
                                data-product_sku="" class="button product_type_simple ajax_add_to_cart">
                            Read
                            more
                        </a>
                    </div><a href="product/red-woments-shirt/index.html"
                             title="RED WOMENT’S SHIRT"></a>
                    <h3>
                        <a href="product/red-woments-shirt/index.html" title="RED WOMENT’S SHIRT">RED WOMENT’S SHIRT</a>
                    </h3>
                    <p class="short_desc">
                        <a href="product/red-woments-shirt/index.html" title="RED WOMENT’S SHIRT">Lorem Ipsum is simpl...</a>
                    </p>
                    <div class="price-cart"></div><a class="item-wishlist"
                                                     href="index47a0.html?add_to_wishlist=70">Wishlist</a>
                </div>
            </div>
        </div>
    </div>
</div>