<section id="promo-section1">
    <div class="ak-container">
        <div class="promo-wrap1">
            <div class="promo-product1 clearfix">
                <aside id="accesspress_storemo-2" class="widget widget widget_accesspress_storemo widget-count-3">
                    <div class="promo-widget-wrap">
                        <a href="http://localhost/haunguyen">
                            <div class="promo-image">
                                <img src="/Assets/Client/wp-content/uploads/2017/04/product1.jpg" alt="Winter Shoes" />
                                <div class="caption wow fadeIn" data-wow-delay="1s">
                                    <h4 class="widget-title">Winter Shoes</h4>

                                    <div class="promo-desc">Lorem Ipsum is simply dummy text of the printing and</div>


                                    <span class="btn promo-link-btn">READ MORE</span>

                                </div>
                            </div>
                        </a>
                    </div>
                </aside><aside id="accesspress_storemo-3" class="widget widget widget_accesspress_storemo widget-count-3">
                    <div class="promo-widget-wrap">
                        <a href="http://localhost/haunguyen">
                            <div class="promo-image">
                                <img src="/Assets/Client/wp-content/uploads/2017/04/watch.jpg" alt="NEW ACCESSORIES" />
                                <div class="caption wow fadeIn" data-wow-delay="1s">
                                    <h4 class="widget-title">NEW ACCESSORIES</h4>

                                    <div class="promo-desc">Lorem Ipsum is simply dummy text of the printing and</div>


                                    <span class="btn promo-link-btn">READ MORE</span>

                                </div>
                            </div>
                        </a>
                    </div>
                </aside><aside id="accesspress_storemo-4" class="widget widget widget_accesspress_storemo widget-count-3">
                    <div class="promo-widget-wrap">
                        <a href="http://localhost/haunguyen">
                            <div class="promo-image">
                                <img src="/Assets/Client/wp-content/uploads/2017/04/shirt.jpg" alt="20% DISCOUNT" />
                                <div class="caption wow fadeIn" data-wow-delay="1s">
                                    <h4 class="widget-title">20% DISCOUNT</h4>

                                    <div class="promo-desc">Lorem Ipsum is simply dummy text of the printing and</div>


                                    <span class="btn promo-link-btn">READ MORE</span>

                                </div>
                            </div>
                        </a>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
