
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Email từ khách hàng</title>
</head>
<body>
    <div> 
        Họ tên : {{CustomerName}}<br />
        Email: {{CustomerEmail}}<br />
        Nội dung: {{ContactContent}}
    </div>
</body>
</html>
