<section id="promo-section3">
    <div class="ak-container">
        <div class="promo-wrap3">
            <div class="promo-product2">
                <aside id="accesspress_store_icon_text-2" class="widget widget_accesspress_store_icon_text widget-count-3">
                    <div class="wow fadeInUp ap-icon-text">
                        <div class="ap-icon-text-icon">
                            <i class="fa fa-share"></i>
                        </div>

                        <div class="ap-icon-text-content-wrap">
                            <div class="ap-icon-text-inner">
                                <h5 class="ap-icon-text-title">
                                    FREE DELIVERY
                                </h5>

                                <div class="ap-icon-text-content">
                                    Lorem Ipsum is simply dummy text of the printing and
                                </div>

                            </div>
                        </div>
                    </div>
                </aside><aside id="accesspress_store_icon_text-3" class="widget widget_accesspress_store_icon_text widget-count-3">
                    <div class="wow fadeInUp ap-icon-text">
                        <div class="ap-icon-text-icon">
                            <i class="fa fa-user"></i>
                        </div>

                        <div class="ap-icon-text-content-wrap">
                            <div class="ap-icon-text-inner">
                                <h5 class="ap-icon-text-title">
                                    CUSTOMER CARE
                                </h5>

                                <div class="ap-icon-text-content">
                                    Lorem Ipsum is simply dummy text of the printing and
                                </div>

                            </div>
                        </div>
                    </div>
                </aside><aside id="accesspress_store_icon_text-4" class="widget widget_accesspress_store_icon_text widget-count-3">
                    <div class="wow fadeInUp ap-icon-text">
                        <div class="ap-icon-text-icon">
                            <i class="fa fa-repeat"></i>
                        </div>

                        <div class="ap-icon-text-content-wrap">
                            <div class="ap-icon-text-inner">
                                <h5 class="ap-icon-text-title">
                                    REFUND POLICY
                                </h5>

                                <div class="ap-icon-text-content">
                                    Lorem Ipsum is simply dummy text of the printing and
                                </div>

                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
<footer id="colophon" class="site-footer" role="contentinfo">

    <div id="top-footer" class="clearfix columns-4">
        <div class="ak-container">
            <div class="top-footer-wrap clearfix">
                <div class="top-footer-block">
                    <aside id="text-5" class="widget widget_text">
                        <h1 class="widget-title">CONTACT INFORMATION</h1>			<div class="textwidget">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dumm</p>
                            <p>
                                <b>Phone: <b /><span>0123456789</span>
                            </p>
                            <p>
                                <b>Email: <b /><span>youremail@gmail.com</span>
                            </p>
                            <p><a>http://localhost/haunguyen</a></p>
                        </div>
                    </aside>
                </div>

                <div class="top-footer-block">
                    <aside id="text-6" class="widget widget_text">
                        <h1 class="widget-title">SINGUP TO NEWLETTER</h1>			<div class="textwidget"></div>
                    </aside>
                </div>

                <div class="top-footer-block">
                    <aside id="text-8" class="widget widget_text">
                        <h1 class="widget-title">FOLLOW ON TWITTER</h1>			<div class="textwidget"></div>
                    </aside>
                </div>

                <div class="top-footer-block">
                    <aside id="pages-2" class="widget widget_pages">
                        <h1 class="widget-title">PAGES</h1>		<ul>
                            <li class="page_item page-item-56 current_page_item"><a href="index.html">PAGE</a></li>
                            <li class="page_item page-item-69"><a href="wishlist/index.html">Wishlist</a></li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div> <!-- top footer end -->
    <div class="footer-bottom">
        <div class="ak-container">
            <div class="seal-logo-wrap">
                <img id="partner_logo1" class="partner-logos" src="/Assets/Client/wp-content/uploads/2017/04/paypal.jpg" alt="Partner Logo 1" />

                <img id="partner_logo2" class="partner-logos" src="/Assets/Client/wp-content/uploads/2017/04/amazon.jpg" alt="Partner Logo 2" />

                <img id="partner_logo3" class="partner-logos" src="/Assets/Client/wp-content/uploads/2017/04/skrill.jpg" alt="Partner Logo 3" />

                <img id="partner_logo4" class="partner-logos" src="/Assets/Client/wp-content/uploads/2017/04/visa.jpg" alt="Partner Logo 4" />




            </div>
            <div class="site-info">
                &copy; 2017 Online Shop - WordPress Theme : AccessPress Store by <a href="https://accesspressthemes.com/wordpress-themes/accesspress-store/">AccessPress Themes</a>
            </div><!-- .site-info -->
        </div>
    </div>
</footer>