<footer class="main-footer light">
    <div class="footer_inner clearfix">
        <div class="footer_top_holder col-3">
            <div class="container">
                <div class="row footer-top-col-3">
                    <div class="col-sm-4">
                        <aside id="zorka-footer-logo-2" class="widget widget-footer-logo">
                            <div class="footer-logo ">
                                <a href="">
                                    <img src="~/Images/logo.png" alt="Zorka logo">
                                </a>
                                <div class="sub-description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in velit a nibh ullamcorper dictum a malesuada ex. Donec sit amet volutpat nunc.
                                </div>
                            </div>
                        </aside>
                        <aside id="text-3" class="widget widget_text">
                            <div class="textwidget">
                                <span class="social">
                                    <a data-toggle="tooltip" title="facebook" href="http://facebook.com">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a data-toggle="tooltip" title="twitter" href="http://twitter.com">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a data-toggle="tooltip" title="instagram" href="http://instagram.com">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                    <a data-toggle="tooltip" title="vk" href="http://vk.com">
                                        <i class="fa fa-vk"></i>
                                    </a>
                                    <a data-toggle="tooltip" title="behance" href="http://behance.com">
                                        <i class="fa fa-behance"></i>
                                    </a>
                                </span>
                            </div>
                        </aside>
                    </div>
                    <div class="col-sm-4">
                        <aside id="nav_menu-5" class="widget widget_nav_menu">
                            <h4 class="widget-title"><span>Link</span></h4>
                            <div class="menu-quick-link-container">
                                <ul id="menu-quick-link" class="menu">
                                    <li id="menu-item-894" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-894"><a href="/HomeClient/Index">Trang chủ</a></li>
                                    <li id="menu-item-895" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-895"><a href="">Danh mục</a></li>
                                    <li id="menu-item-896" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-896"><a href="/About/Index">Giới thiệu</a></li>
                                    <li id="menu-item-897" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-897"><a href="/Contact/Index">Liên hệ</a></li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <div class="col-sm-4">
                        <aside id="text-4" class="widget widget_text">
                            <h4 class="widget-title"><span>Liên hệ</span></h4>
                            <div class="textwidget">
                                <div>
                                    <span class="address">
                                        295 Cầu Giấy,Hà Nội
                                    </span>
                                    <span class="telephone">
                                        Tel: (+84) 8888 888
                                    </span>
                                    <span class="email">
                                        Email: zorkashop@gmail.com
                                    </span>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</footer>