<div class="fullwidth">
    <div class="vc_row wpb_row vc_row-fluid margin-bottom-30">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="wpb_wrapper">
                <div class="wpb_revslider_element wpb_content_element">
                    <div id="rev_slider_3_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#E9E9E9;padding:0px;margin-top:0px;margin-bottom:0px;max-height:700px;">
                        <div id="rev_slider_3_1" class="rev_slider fullwidthabanner" style="display:none;max-height:700px;height:700px;">
                            <ul>
                                <li data-transition="random" data-slotamount="7" data-masterspeed="1000" data-delay="7000" data-saveperformance="off">
                                    <img src="~/Images/slider-01-1.jpg" alt="slider-01-1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                                    <div class="tp-caption blackzorkaclothing lfl tp-resizeme" data-x="center" data-hoffset="6" data-y="center" data-voffset="-70" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">THỜI TRANG ZORKA</div>
                                    <div class="tp-caption largeboldblackzk lfr tp-resizeme" data-x="center" data-hoffset="-5" data-y="center" data-voffset="-13" data-speed="1000" data-start="1500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">Hiện đại - Cá tính</div>
                                    <div class="tp-caption black skewfromleft ltl tp-resizeme" data-x="center" data-hoffset="-7" data-y="center" data-voffset="86" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                                    <a class="zorka-button style2 button-sm" href="" style="letter-spacing:0.5px;font-size:14px;line-height:1.2;border:none;"><strong>&nbsp;Shop now&nbsp;</strong></a></div>
                                </li>
                                <li data-transition="random" data-slotamount="7" data-masterspeed="1000" data-delay="7000" data-saveperformance="off">
                                    <img src="~/Images/slider-01-2.jpg" alt="slider-01-2" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                                    <div class="tp-caption zksale lfl tp-resizeme" data-x="center" data-hoffset="-109" data-y="center" data-voffset="-19" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
                                        <p class="slider-text-border" style="font-weight:600;padding-right:20px;padding-left:20px;">SALE</p>
                                    </div>
                                    <div class="tp-caption zksale lfr tp-resizeme" data-x="center" data-hoffset="149" data-y="center" data-voffset="-29" data-speed="1000" data-start="1300" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">OFF</div>
                                    <div class="tp-caption zksalejanfeb lfl tp-resizeme" data-x="center" data-hoffset="-109" data-y="center" data-voffset="68" data-speed="1000" data-start="1500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">TỪ 1/6 - 30/6</div>
                                    <div class="tp-caption zksalejanfeb lfr tp-resizeme" data-x="center" data-hoffset="149" data-y="center" data-voffset="78" data-speed="1000" data-start="1500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;">
                                        <p class="slider-text-border" style="font-weight:600;padding-right:15px;padding-left:15px;padding-top:13px;padding-bottom:13px;">UP TO 50%</p>
                                    </div>
                                </li>
                                <li data-transition="random" data-slotamount="7" data-masterspeed="1000" data-delay="7000" data-saveperformance="off">
                                    <img src="~/Images/slider-03-31.jpg" alt="slider-03-31" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                                    <div class="tp-caption zk12c878787 lfb randomrotateout tp-resizeme" data-x="center" data-hoffset="-169" data-y="center" data-voffset="33" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget<br> augue maximus, convallis nunc a, tristique ipsum. Maecenas elementum et<br>nulla ac scelerisque. Donec nec purus massa.</div>
                                    <div class="tp-caption zkdress skewfromright tp-resizeme" data-x="center" data-hoffset="-226" data-y="center" data-voffset="-65" data-speed="1000" data-start="1000" data-easing="Quad.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
                                        DRESS UP<br>
                                        CLOTHES FIRST
                                    </div>
                                    <div class="tp-caption zkdress lfb tp-resizeme" data-x="center" data-hoffset="-334" data-y="center" data-voffset="101" data-speed="1000" data-start="1400" data-easing="Power3.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;"><a class="zorka-button style2 button-sm" href="http://themes.g5plus.net/zorka/shop/" style="letter-spacing:0.5px;font-size:14px;line-height:1.2;border:none;"><strong>&nbsp;Shop now&nbsp;</strong></a></div>
                                </li>
                            </ul>
                            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                        </div>
                        <style scoped="">
                            .tp-caption.black, .black {
                                color: #000;
                                text-shadow: none;
                            }

                            .tp-caption.blackzorkaclothing, .blackzorkaclothing {
                                font-size: 15px;
                                line-height: 21px;
                                font-weight: 600;
                                font-family: "Montserrat";
                                color: #333333;
                                text-decoration: none;
                                text-shadow: none;
                                background-color: transparent;
                                letter-spacing: 10px;
                                border-width: 0px;
                                border-color: rgb(0,0,0);
                                border-style: none;
                            }

                            .tp-caption.largeboldblackzk, .largeboldblackzk {
                                font-size: 80px;
                                line-height: 96px;
                                font-weight: 300;
                                font-family: "Merriweather";
                                color: #333333;
                                text-decoration: none;
                                background-color: transparent;
                                letter-spacing: 4px;
                                border-width: 0px;
                                border-color: rgb(255,214,88);
                                border-style: none;
                            }

                            .tp-caption.zksale, .zksale {
                                font-size: 96px;
                                line-height: 115px;
                                font-weight: 600;
                                font-family: "Montserrat";
                                color: #728091;
                                text-decoration: none;
                                text-shadow: none;
                                background-color: transparent;
                                border-width: 0px;
                                border-color: rgb(0,0,0);
                                border-style: none;
                            }

                            .tp-caption.zksalejanfeb, .zksalejanfeb {
                                font-size: 28px;
                                line-height: 35px;
                                font-weight: 600;
                                font-family: "Montserrat";
                                color: #728091;
                                text-decoration: none;
                                text-shadow: none;
                                background-color: transparent;
                                letter-spacing: 3px;
                                border-width: 0px;
                                border-color: rgb(0,0,0);
                                border-style: none;
                            }

                            .tp-caption.zkdress, .zkdress {
                                font-size: 40px;
                                line-height: 48px;
                                font-family: Montserrat;
                                font-weight: 400;
                                color: #000000;
                                text-decoration: none;
                                text-shadow: none;
                                background-color: transparent;
                                letter-spacing: 2px;
                                border-width: 0px;
                                border-color: rgb(0,0,0);
                                border-style: none;
                            }

                            .tp-caption.zk12c878787, .zk12c878787 {
                                font-size: 12px;
                                line-height: 20px;
                                font-family: Montserrat;
                                color: rgb(135,135,135);
                                text-decoration: none;
                                background-color: transparent;
                                border-width: 0px;
                                border-color: rgb(34,34,34);
                                border-style: none;
                            }
                        </style>
                        <script type="text/javascript">
                            /******************************************
                              -	PREPARE PLACEHOLDER FOR SLIDER	-
                            ******************************************/


                            var setREVStartSize = function () {
                                var tpopt = new Object();
                                tpopt.startwidth = 1170;
                                tpopt.startheight = 700;
                                tpopt.container = jQuery('#rev_slider_3_1');
                                tpopt.fullScreen = "off";
                                tpopt.forceFullWidth = "off";

                                tpopt.container.closest(".rev_slider_wrapper").css({ height: tpopt.container.height() }); tpopt.width = parseInt(tpopt.container.width(), 0); tpopt.height = parseInt(tpopt.container.height(), 0); tpopt.bw = tpopt.width / tpopt.startwidth; tpopt.bh = tpopt.height / tpopt.startheight; if (tpopt.bh > tpopt.bw) tpopt.bh = tpopt.bw; if (tpopt.bh < tpopt.bw) tpopt.bw = tpopt.bh; if (tpopt.bw < tpopt.bh) tpopt.bh = tpopt.bw; if (tpopt.bh > 1) { tpopt.bw = 1; tpopt.bh = 1 } if (tpopt.bw > 1) { tpopt.bw = 1; tpopt.bh = 1 } tpopt.height = Math.round(tpopt.startheight * (tpopt.width / tpopt.startwidth)); if (tpopt.height > tpopt.startheight && tpopt.autoHeight != "on") tpopt.height = tpopt.startheight; if (tpopt.fullScreen == "on") { tpopt.height = tpopt.bw * tpopt.startheight; var cow = tpopt.container.parent().width(); var coh = jQuery(window).height(); if (tpopt.fullScreenOffsetContainer != undefined) { try { var offcontainers = tpopt.fullScreenOffsetContainer.split(","); jQuery.each(offcontainers, function (e, t) { coh = coh - jQuery(t).outerHeight(true); if (coh < tpopt.minFullScreenHeight) coh = tpopt.minFullScreenHeight }) } catch (e) { } } tpopt.container.parent().height(coh); tpopt.container.height(coh); tpopt.container.closest(".rev_slider_wrapper").height(coh); tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(coh); tpopt.container.css({ height: "100%" }); tpopt.height = coh; } else { tpopt.container.height(tpopt.height); tpopt.container.closest(".rev_slider_wrapper").height(tpopt.height); tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(tpopt.height); }
                            };

                            /* CALL PLACEHOLDER */
                            setREVStartSize();


                            var tpj = jQuery;
                            tpj.noConflict();
                            var revapi3;

                            tpj(document).ready(function () {

                                if (tpj('#rev_slider_3_1').revolution == undefined) {
                                    revslider_showDoubleJqueryError('#rev_slider_3_1');
                                } else {
                                    revapi3 = tpj('#rev_slider_3_1').show().revolution(
                                   {
                                       dottedOverlay: "none",
                                       delay: 9000,
                                       startwidth: 1170,
                                       startheight: 700,
                                       hideThumbs: 200,

                                       thumbWidth: 100,
                                       thumbHeight: 50,
                                       thumbAmount: 3,


                                       simplifyAll: "off",

                                       navigationType: "bullet",
                                       navigationArrows: "none",
                                       navigationStyle: "round",

                                       touchenabled: "on",
                                       onHoverStop: "off",
                                       nextSlideOnWindowFocus: "off",

                                       swipe_threshold: 75,
                                       swipe_min_touches: 1,
                                       drag_block_vertical: false,



                                       keyboardNavigation: "off",

                                       navigationHAlign: "center",
                                       navigationVAlign: "bottom",
                                       navigationHOffset: 0,
                                       navigationVOffset: 20,

                                       soloArrowLeftHalign: "left",
                                       soloArrowLeftValign: "center",
                                       soloArrowLeftHOffset: 20,
                                       soloArrowLeftVOffset: 0,

                                       soloArrowRightHalign: "right",
                                       soloArrowRightValign: "center",
                                       soloArrowRightHOffset: 20,
                                       soloArrowRightVOffset: 0,

                                       shadow: 0,
                                       fullWidth: "on",
                                       fullScreen: "off",

                                       spinner: "spinner0",

                                       stopLoop: "off",
                                       stopAfterLoops: -1,
                                       stopAtSlide: -1,

                                       shuffle: "off",

                                       autoHeight: "off",
                                       forceFullWidth: "off",


                                       hideTimerBar: "on",
                                       hideThumbsOnMobile: "off",
                                       hideNavDelayOnMobile: 1500,
                                       hideBulletsOnMobile: "off",
                                       hideArrowsOnMobile: "off",
                                       hideThumbsUnderResolution: 0,

                                       hideSliderAtLimit: 0,
                                       hideCaptionAtLimit: 0,
                                       hideAllCaptionAtLilmit: 0,
                                       startWithSlide: 0
                                   });



                                }
                            });	/*ready*/

                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>