@model List<OnlineShop.Models.CardItem>
<div class="cart">
    <p>
        Chào mừng bạn đến với OnlineShop! <span>Giỏ hàng:</span><div id="dd" class="wrapper-dropdown-2">
            @Model.Count sản phẩm - $@(Model.Sum( x => x.Product.Price * x.Quantity))
            <ul class="dropdown">
                <li>Bạn chưa mua sản phẩm nào!</li>
            </ul>
        </div>
    </p>
</div>
