USE [OnlineShopDatabase]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 06/05/2017 10:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[ParentID] [bigint] NULL,
	[MetaTitle] [nvarchar](250) NULL,
	[DisplayOrder] [int] NULL CONSTRAINT [DF_Category_DisplayOrder]  DEFAULT ((1)),
	[CreateDate] [datetime] NULL CONSTRAINT [DF_Category_CreateDate]  DEFAULT (getdate()),
	[CreateBy] [bigint] NULL,
	[Description] [nvarchar](300) NULL,
	[Tag] [nvarchar](250) NULL,
	[Status] [int] NULL CONSTRAINT [DF_Category_Status]  DEFAULT ((1)),
	[Type] [int] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Credential]    Script Date: 06/05/2017 10:00:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Credential](
	[UserGroupID] [varchar](50) NOT NULL,
	[RoleID] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Credential] PRIMARY KEY CLUSTERED 
(
	[UserGroupID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Order]    Script Date: 06/05/2017 10:00:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerID] [bigint] NULL,
	[CustomerName] [nvarchar](250) NULL,
	[CustomerAddress] [nvarchar](250) NULL,
	[CustomerPhone] [varchar](50) NULL,
	[CustomerEmail] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL CONSTRAINT [DF_Order_CreateDate]  DEFAULT (getdate()),
	[CreateBy] [bigint] NULL,
	[ChangeBy] [bigint] NULL,
	[LastChange] [datetime] NULL CONSTRAINT [DF_Order_LastChange]  DEFAULT (getdate()),
	[OrderAddress] [nvarchar](300) NULL,
	[Note] [nvarchar](400) NULL,
	[Status] [int] NULL CONSTRAINT [DF_Order_Status]  DEFAULT ((1)),
 CONSTRAINT [PK_Order_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderProduct]    Script Date: 06/05/2017 10:00:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderProduct](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderID] [bigint] NOT NULL,
	[ProductID] [bigint] NULL,
	[Amount] [bigint] NULL,
	[Status] [int] NULL CONSTRAINT [DF_OrderProduct_Status]  DEFAULT ((1)),
	[TotalMoney] [decimal](18, 0) NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_OrderProduct] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 06/05/2017 10:00:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Code] [varchar](100) NULL,
	[MetaTitle] [nvarchar](250) NULL,
	[Description] [nvarchar](300) NULL,
	[Price] [decimal](18, 0) NULL,
	[Sale] [decimal](18, 0) NULL,
	[CreateDate] [datetime] NULL CONSTRAINT [DF_Product_CreateDate]  DEFAULT (getdate()),
	[CreateBy] [bigint] NULL,
	[Tag] [nvarchar](250) NULL,
	[Status] [int] NULL CONSTRAINT [DF_Product_Status]  DEFAULT ((1)),
	[Type] [int] NULL CONSTRAINT [DF_Product_Type]  DEFAULT ((1)),
	[LastChange] [datetime] NULL CONSTRAINT [DF_Product_LastChange]  DEFAULT (getdate()),
	[ChangeBy] [bigint] NULL,
	[CategoryID] [bigint] NULL,
	[MainImage] [nvarchar](250) NULL,
	[GalleryImage] [xml] NULL,
	[GroupID] [varchar](50) NULL,
	[Amount] [bigint] NULL CONSTRAINT [DF_Product_Amount]  DEFAULT ((0)),
	[Rate] [int] NULL,
	[BuyAmount] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Role]    Script Date: 06/05/2017 10:00:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [varchar](50) NOT NULL,
	[Name] [nvarchar](250) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 06/05/2017 10:00:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Username] [nvarchar](250) NULL,
	[Password] [varchar](50) NULL,
	[Gender] [int] NULL CONSTRAINT [DF_User_Gender]  DEFAULT ((1)),
	[Address] [nvarchar](250) NULL,
	[JoinDate] [datetime] NULL CONSTRAINT [DF_User_JoinDate]  DEFAULT (getdate()),
	[Phone] [varchar](50) NULL,
	[Email] [nvarchar](250) NULL,
	[Status] [int] NULL CONSTRAINT [DF_User_Status]  DEFAULT ((1)),
	[Type] [int] NULL CONSTRAINT [DF_User_Type]  DEFAULT ((0)),
	[Avatar] [nvarchar](250) NULL,
	[RecentChange] [datetime] NULL CONSTRAINT [DF_User_RecentChange]  DEFAULT (getdate()),
	[GroupID] [varchar](50) NULL CONSTRAINT [DF_User_GroupID]  DEFAULT ('MEMBER'),
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserGroup]    Script Date: 06/05/2017 10:00:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserGroup](
	[ID] [varchar](50) NOT NULL,
	[Name] [nvarchar](250) NULL,
 CONSTRAINT [PK_UserGroup] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [Name], [ParentID], [MetaTitle], [DisplayOrder], [CreateDate], [CreateBy], [Description], [Tag], [Status], [Type]) VALUES (4, N'Quần áo, Veston', NULL, N'clothing-men', 1, CAST(N'2017-05-17 22:51:46.840' AS DateTime), NULL, NULL, NULL, 1, 1)
INSERT [dbo].[Category] ([ID], [Name], [ParentID], [MetaTitle], [DisplayOrder], [CreateDate], [CreateBy], [Description], [Tag], [Status], [Type]) VALUES (5, N'Giày & Ví', NULL, N'shoes-men', 2, CAST(N'2017-05-17 22:52:04.157' AS DateTime), NULL, NULL, NULL, 1, 1)
INSERT [dbo].[Category] ([ID], [Name], [ParentID], [MetaTitle], [DisplayOrder], [CreateDate], [CreateBy], [Description], [Tag], [Status], [Type]) VALUES (6, N'Phụ kiện', NULL, N'accessories-men', 3, CAST(N'2017-05-17 22:53:34.350' AS DateTime), NULL, NULL, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
INSERT [dbo].[Credential] ([UserGroupID], [RoleID]) VALUES (N'ACCOUNTANT', N'STATISTIC_MANAGE')
INSERT [dbo].[Credential] ([UserGroupID], [RoleID]) VALUES (N'ADMIN', N'ADMIN_MANAGE')
INSERT [dbo].[Credential] ([UserGroupID], [RoleID]) VALUES (N'CLIENT', N'VIEW_PAGE')
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([ID], [CustomerID], [CustomerName], [CustomerAddress], [CustomerPhone], [CustomerEmail], [CreateDate], [CreateBy], [ChangeBy], [LastChange], [OrderAddress], [Note], [Status]) VALUES (1, NULL, N'Nguyễn Văn Nam', N'Hà Nội', N'0123456789', N'namnguyen@gmail.com', CAST(N'2017-05-18 00:03:55.953' AS DateTime), NULL, NULL, CAST(N'2017-05-18 00:03:55.953' AS DateTime), NULL, NULL, 2)
INSERT [dbo].[Order] ([ID], [CustomerID], [CustomerName], [CustomerAddress], [CustomerPhone], [CustomerEmail], [CreateDate], [CreateBy], [ChangeBy], [LastChange], [OrderAddress], [Note], [Status]) VALUES (2, NULL, N'Nguyễn Thị Thu', N'Ninh Bình', N'0123456789', N'thunguyennb@gmail.com', CAST(N'2017-05-18 00:04:29.583' AS DateTime), NULL, NULL, CAST(N'2017-05-18 00:04:29.583' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[Order] ([ID], [CustomerID], [CustomerName], [CustomerAddress], [CustomerPhone], [CustomerEmail], [CreateDate], [CreateBy], [ChangeBy], [LastChange], [OrderAddress], [Note], [Status]) VALUES (3, NULL, N'Nguyễn Thanh Thảo', N'Hải Phòng', N'0123456789', N'thaosmile@gmail.com', CAST(N'2017-05-18 00:05:04.157' AS DateTime), NULL, NULL, CAST(N'2017-05-18 00:05:04.157' AS DateTime), NULL, NULL, 5)
SET IDENTITY_INSERT [dbo].[Order] OFF
SET IDENTITY_INSERT [dbo].[OrderProduct] ON 

INSERT [dbo].[OrderProduct] ([ID], [OrderID], [ProductID], [Amount], [Status], [TotalMoney], [CreateDate]) VALUES (1, 1, 12, 2, 1, CAST(400000 AS Decimal(18, 0)), NULL)
INSERT [dbo].[OrderProduct] ([ID], [OrderID], [ProductID], [Amount], [Status], [TotalMoney], [CreateDate]) VALUES (2, 4, 25, 1, NULL, CAST(29 AS Decimal(18, 0)), NULL)
INSERT [dbo].[OrderProduct] ([ID], [OrderID], [ProductID], [Amount], [Status], [TotalMoney], [CreateDate]) VALUES (3, 4, 20, 1, NULL, CAST(20 AS Decimal(18, 0)), NULL)
GO
SET IDENTITY_INSERT [dbo].[OrderProduct] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ID], [Name], [Code], [MetaTitle], [Description], [Price], [Sale], [CreateDate], [CreateBy], [Tag], [Status], [Type], [LastChange], [ChangeBy], [CategoryID], [MainImage], [GalleryImage], [GroupID], [Amount], [Rate], [BuyAmount]) VALUES (17, N'áo khoác nữ', N'SP1495063949', N'ao-khoac-nu', N'áo khoác nữ', CAST(200000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(N'2017-05-17 23:32:29.210' AS DateTime), NULL, N'áo khoác', 4, NULL, CAST(N'2017-05-17 23:45:16.030' AS DateTime), NULL, 9, N'/Images/Cream-Stylish-Designed-Coat-1jpg.jpg', NULL, N'1495063949', 4, 1, 3)
SET IDENTITY_INSERT [dbo].[Product] OFF
INSERT [dbo].[Role] ([ID], [Name]) VALUES (N'ADMIN_MANAGE', N'Quản lý quản trị viên')
INSERT [dbo].[Role] ([ID], [Name]) VALUES (N'CUSTOMER_MANAGE', N'Quản lý khách hàng')
INSERT [dbo].[Role] ([ID], [Name]) VALUES (N'ORDER_MANAGE', N'Quản lý đơn hàng')
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Name], [Username], [Password], [Gender], [Address], [JoinDate], [Phone], [Email], [Status], [Type], [Avatar], [RecentChange], [GroupID]) VALUES (5, N'haunguyen', N'haunguyen', N'12345', 0, N'Hà Nam', CAST(N'2017-05-30 23:00:58.163' AS DateTime), N'0123456789', N'haunguyen@gmail.com', 1, 0, NULL, CAST(N'2017-05-30 23:00:58.163' AS DateTime), N'CLIENT')
INSERT [dbo].[User] ([ID], [Name], [Username], [Password], [Gender], [Address], [JoinDate], [Phone], [Email], [Status], [Type], [Avatar], [RecentChange], [GroupID]) VALUES (6, N'haunguyen', N'haunguyenmta', N'827ccb0eea8a706c4c34a16891f84e7b', 1, NULL, CAST(N'2017-05-31 00:36:39.767' AS DateTime), N'012345678', N'nguyenhau@gmail.com', 2, 0, NULL, CAST(N'2017-06-03 16:56:28.643' AS DateTime), N'CLIENT')
INSERT [dbo].[User] ([ID], [Name], [Username], [Password], [Gender], [Address], [JoinDate], [Phone], [Email], [Status], [Type], [Avatar], [RecentChange], [GroupID]) VALUES (7, NULL, N'nguyenhau', N'1234', NULL, NULL, CAST(N'2017-05-31 00:49:14.563' AS DateTime), N'0123456789', N'nguyenhau@gmail.com', 2, 0, NULL, NULL, N'CLIENT')
SET IDENTITY_INSERT [dbo].[User] OFF
INSERT [dbo].[UserGroup] ([ID], [Name]) VALUES (N'ACCOUNTANT', N'Kế toán')
INSERT [dbo].[UserGroup] ([ID], [Name]) VALUES (N'ADMIN', N'Quản trị viên')
INSERT [dbo].[UserGroup] ([ID], [Name]) VALUES (N'CLIENT', N'Khách hàng')
