<section id="main-slider">
    <div class="bx-slider">
        <div class="slides">
            <img src="/Assets/Client/wp-content/uploads/2017/04/slide-2.jpg" alt="THE NEXT GENERATION WP ECOMMERCE" />

            <div class="slider-caption">
                <div class="ak-container">
                    <div class="caption-content-wrapper">
                        <h2 class="caption-title">THE NEXT GENERATION WP ECOMMERCE</h2>
                        <div class="caption-content">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unkn
                        </div>
                    </div>
                    <a class="caption-read-more1" href="http://localhost/haunguyen">VIEW MORE</a>
                </div>
            </div>
        </div>
        <div class="slides">
            <img src="/Assets/Client/wp-content/uploads/2017/04/slide1.jpg" alt="CREATE MODEL AN ONLINE STORE FREE" />

            <div class="slider-caption">
                <div class="ak-container">
                    <div class="caption-content-wrapper">
                        <h2 class="caption-title">CREATE MODEL AN ONLINE STORE FREE</h2>
                        <div class="caption-content">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unkn
                        </div>
                    </div>
                    <a class="caption-read-more1" href="http://localhost/haunguyen">VIEW MORE</a>
                </div>
            </div>
        </div>
    </div>
</section>