
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main" class="site-content">
    <div id="post-222" class="post-222 page type-page status-publish hentry">
        <div class="entry-content">
            <div class="fullwidth">
                <div class="vc_row wpb_row vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="wpb_wrapper">
                            <div class="wpb_revslider_element wpb_content_element">
                                <div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#E9E9E9;padding:0px;margin-top:0px;margin-bottom:0px;max-height:700px;">
                                    <div id="rev_slider_2_1" class="rev_slider fullwidthabanner" style="display:none;max-height:700px;height:700px;">
                                        <ul>
                                            <li data-transition="" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                                                <img src="~/Images/about-bg-header.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                                                <div class="tp-caption largeboldwhiteaboutus tp-fade tp-resizeme" data-x="center" data-hoffset="31" data-y="center" data-voffset="-67" data-speed="300" data-start="0" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-end="-300" data-endspeed="300" style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">WE ARE ZORKA</div>
                                                <div class="tp-caption smalltextaboutus tp-fade tp-resizeme" data-x="center" data-hoffset="12" data-y="center" data-voffset="8" data-speed="300" data-start="0" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-end="-300" data-endspeed="300" style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;"><i>A Proffesional Team</i></div>
                                            </li>
                                            <li data-transition="" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                                                <img src="~/Images/about-bg-header.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                                                <div class="tp-caption largeboldwhiteaboutus tp-fade tp-resizeme" data-x="center" data-hoffset="31" data-y="center" data-voffset="-67" data-speed="300" data-start="0" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-end="-300" data-endspeed="300" style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">WE ARE ZORKA</div>
                                                <div class="tp-caption smalltextaboutus tp-fade tp-resizeme" data-x="center" data-hoffset="12" data-y="center" data-voffset="8" data-speed="300" data-start="0" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-end="-300" data-endspeed="300" style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;"><i>A Proffesional Team</i></div>
                                            </li>
                                        </ul>
                                        <div class="tp-bannertimer"></div>
                                    </div>
                                    <style scoped="">
                                        .tp-caption.largeboldwhiteaboutus, .largeboldwhiteaboutus {
                                            font-size: 100px;
                                            line-height: 120px;
                                            font-weight: 700;
                                            font-family: Lato;
                                            color: rgb(255,255,255);
                                            text-decoration: none;
                                            background-color: transparent;
                                            border-width: 0px;
                                            border-color: rgb(255,214,88);
                                            border-style: none;
                                        }

                                        .tp-caption.smalltextaboutus, .smalltextaboutus {
                                            font-size: 22px;
                                            line-height: 26px;
                                            font-weight: 300;
                                            font-family: Arial;
                                            color: rgb(255,255,255);
                                            text-decoration: none;
                                            text-shadow: rgba(0,0,0,0.498039) 0px 2px 5px;
                                            margin: 0px;
                                            white-space: nowrap;
                                            background-color: transparent;
                                            border-width: 0px;
                                            border-color: rgb(255,255,255);
                                            border-style: none;
                                        }
                                    </style>
                                    <script type="text/javascript">
                                          /******************************************
                                          	-	PREPARE PLACEHOLDER FOR SLIDER	-
                                          ******************************************/


                                          var setREVStartSize = function() {
                                          	var	tpopt = new Object();
                                          		tpopt.startwidth = 1170;
                                          		tpopt.startheight = 700;
                                          		tpopt.container = jQuery('#rev_slider_2_1');
                                          		tpopt.fullScreen = "off";
                                          		tpopt.forceFullWidth="off";

                                          	tpopt.container.closest(".rev_slider_wrapper").css({height:tpopt.container.height()});tpopt.width=parseInt(tpopt.container.width(),0);tpopt.height=parseInt(tpopt.container.height(),0);tpopt.bw=tpopt.width/tpopt.startwidth;tpopt.bh=tpopt.height/tpopt.startheight;if(tpopt.bh>tpopt.bw)tpopt.bh=tpopt.bw;if(tpopt.bh<tpopt.bw)tpopt.bw=tpopt.bh;if(tpopt.bw<tpopt.bh)tpopt.bh=tpopt.bw;if(tpopt.bh>1){tpopt.bw=1;tpopt.bh=1}if(tpopt.bw>1){tpopt.bw=1;tpopt.bh=1}tpopt.height=Math.round(tpopt.startheight*(tpopt.width/tpopt.startwidth));if(tpopt.height>tpopt.startheight&&tpopt.autoHeight!="on")tpopt.height=tpopt.startheight;if(tpopt.fullScreen=="on"){tpopt.height=tpopt.bw*tpopt.startheight;var cow=tpopt.container.parent().width();var coh=jQuery(window).height();if(tpopt.fullScreenOffsetContainer!=undefined){try{var offcontainers=tpopt.fullScreenOffsetContainer.split(",");jQuery.each(offcontainers,function(e,t){coh=coh-jQuery(t).outerHeight(true);if(coh<tpopt.minFullScreenHeight)coh=tpopt.minFullScreenHeight})}catch(e){}}tpopt.container.parent().height(coh);tpopt.container.height(coh);tpopt.container.closest(".rev_slider_wrapper").height(coh);tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(coh);tpopt.container.css({height:"100%"});tpopt.height=coh;}else{tpopt.container.height(tpopt.height);tpopt.container.closest(".rev_slider_wrapper").height(tpopt.height);tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(tpopt.height);}
                                          };

                                          /* CALL PLACEHOLDER */
                                          setREVStartSize();


                                          var tpj=jQuery;
                                          tpj.noConflict();
                                          var revapi2;

                                          tpj(document).ready(function() {

                                          if(tpj('#rev_slider_2_1').revolution == undefined){
                                          	revslider_showDoubleJqueryError('#rev_slider_2_1');
                                          }else{
                                             revapi2 = tpj('#rev_slider_2_1').show().revolution(
                                          	{
                                          								dottedOverlay:"none",
                                          		delay:0,
                                          		startwidth:1170,
                                          		startheight:700,
                                          		hideThumbs:200,

                                          		thumbWidth:100,
                                          		thumbHeight:50,
                                          		thumbAmount:1,

                                          		minHeight:700,

                                          		simplifyAll:"off",

                                          		navigationType:"none",
                                          		navigationArrows:"none",
                                          		navigationStyle:"round",

                                          		touchenabled:"on",
                                          		onHoverStop:"on",
                                          		nextSlideOnWindowFocus:"off",

                                          		swipe_threshold: 75,
                                          		swipe_min_touches: 1,
                                          		drag_block_vertical: false,



                                          		keyboardNavigation:"off",

                                          		navigationHAlign:"center",
                                          		navigationVAlign:"bottom",
                                          		navigationHOffset:0,
                                          		navigationVOffset:20,

                                          		soloArrowLeftHalign:"left",
                                          		soloArrowLeftValign:"center",
                                          		soloArrowLeftHOffset:20,
                                          		soloArrowLeftVOffset:0,

                                          		soloArrowRightHalign:"right",
                                          		soloArrowRightValign:"center",
                                          		soloArrowRightHOffset:20,
                                          		soloArrowRightVOffset:0,

                                          		shadow:0,
                                          		fullWidth:"on",
                                          		fullScreen:"off",

                                          								spinner:"off",

                                          		stopLoop:"off",
                                          		stopAfterLoops:0,
                                          		stopAtSlide:1,

                                          		shuffle:"off",

                                          		autoHeight:"off",
                                          		forceFullWidth:"off",



                                          		hideThumbsOnMobile:"off",
                                          		hideNavDelayOnMobile:1500,
                                          		hideBulletsOnMobile:"off",
                                          		hideArrowsOnMobile:"off",
                                          		hideThumbsUnderResolution:0,

                                          								hideSliderAtLimit:0,
                                          		hideCaptionAtLimit:0,
                                          		hideAllCaptionAtLilmit:0,
                                          		startWithSlide:0					});



                                          					}
                                          });	/*ready*/

                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fullwidth">
                <div class="vc_row wpb_row vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="wpb_wrapper">
                            <div class="zorka-heading style2 ">
                                <div class="content-middle-inner">
                                    <h2>OUR SERVICES</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="vc_row wpb_row vc_row-fluid margin-bottom-20 column-equal-height vc_custom_1442214739341">
                    <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30 wpb_column vc_column_container vc_col-sm-4">
                        <div class="wpb_wrapper">
                            <div class="zorka-icon-box style1 center ">
                                <a class="zbox-icon" href=""><i class="pe-7s-star"></i></a>
                                <a class="zbox-title" href="">GRAPHIC</a>
                                <p>Fusce ac odio odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30 wpb_column vc_column_container vc_col-sm-4">
                        <div class="wpb_wrapper">
                            <div class="zorka-icon-box style1 center ">
                                <a class="zbox-icon" href=""><i class="pe-7s-mail-open-file"></i></a>
                                <a class="zbox-title" href="">SUPPORT</a>
                                <p>Fusce ac odio odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30 wpb_column vc_column_container vc_col-sm-4">
                        <div class="wpb_wrapper">
                            <div class="zorka-icon-box style1 center ">
                                <a class="zbox-icon" href=""><i class="pe-7s-cart"></i></a>
                                <a class="zbox-title" href="">MARKETING</a>
                                <p>Fusce ac odio odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30 wpb_column vc_column_container vc_col-sm-4">
                        <div class="wpb_wrapper">
                            <div class="zorka-icon-box style1 center ">
                                <a class="zbox-icon" href=""><i class="pe-7s-mouse"></i></a>
                                <a class="zbox-title" href="">DESIGN</a>
                                <p>Fusce ac odio odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30 wpb_column vc_column_container vc_col-sm-4">
                        <div class="wpb_wrapper">
                            <div class="zorka-icon-box style1 center ">
                                <a class="zbox-icon" href=""><i class="pe-7s-gift"></i></a>
                                <a class="zbox-title" href="">PHOTOGRAPHY</a>
                                <p>Fusce ac odio odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-30 wpb_column vc_column_container vc_col-sm-4">
                        <div class="wpb_wrapper">
                            <div class="zorka-icon-box style1 center ">
                                <a class="zbox-icon" href=""><i class="pe-7s-wristwatch"></i></a>
                                <a class="zbox-title" href="">FASHION</a>
                                <p>Fusce ac odio odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fullwidth">
                <div class="vc_row wpb_row vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="wpb_wrapper">
                            <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text"><span class="vc_sep_holder vc_sep_holder_l"><span style="border-color:#eeeeee;" class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span style="border-color:#eeeeee;" class="vc_sep_line"></span></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fullwidth">
                <div class="vc_row wpb_row vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="wpb_wrapper">
                            <div class="zorka-heading style2 ">
                                <div class="content-middle-inner">
                                    <h2>OUR PORTFOLIO</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fullwidth">
                <div class="vc_row wpb_row vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="wpb_wrapper">
                            <div class="portfolio   " id="portfolio-592147bf18aba">
                                <div class="portfolio-wrapper zorka-col-md-4  grid" data-section-id="592147bf18aba" id="portfolio-container-592147bf18aba" data-columns="4">
                                    <div class="portfolio-item AutumnFashion Fashion ">
                                        <div class="entry-thumbnail icon">
                                            <img class="img-porfolio" src="~/Images/porfolio-08.jpg" alt="Golden In Paris">
                                            <div class="entry-thumbnail-hover">
                                                <div class="entry-hover-wrapper">
                                                    <div class="entry-hover-inner">
                                                        <a href="~/Images/porfolio-08.jpg" rel="prettyPhoto[pp_gal_92]" title="Golden In Paris">
                                                            <i class="pe-7s-search"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="display: none"></div>
                                    </div>
                                    <div class="portfolio-item Spring Summer ">
                                        <div class="entry-thumbnail icon">
                                            <img class="img-porfolio" src="~/Images/porfolio-07.jpg" alt="Avenue Montaigne">
                                            <div class="entry-thumbnail-hover">
                                                <div class="entry-hover-wrapper">
                                                    <div class="entry-hover-inner">
                                                        <a href="~/Images/porfolio-07.jpg" rel="prettyPhoto[pp_gal_84]" title="Avenue Montaigne">
                                                            <i class="pe-7s-search"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="display: none"></div>
                                    </div>
                                    <div class="portfolio-item Spring Winter ">
                                        <div class="entry-thumbnail icon">
                                            <img class="img-porfolio" src="~/Images/porfolio-06.jpg" alt="The Corner Goes Gender Neutral">
                                            <div class="entry-thumbnail-hover">
                                                <div class="entry-hover-wrapper">
                                                    <div class="entry-hover-inner">
                                                        <a href="~/Images/porfolio-06.jpg" rel="prettyPhoto[pp_gal_81]" title="The Corner Goes Gender Neutral">
                                                            <i class="pe-7s-search"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="display: none">
                                            <div>
                                                <a href="~/Images/slider-01-2.jpg" rel="prettyPhoto[pp_gal_81]" title="<a href=''>The Corner Goes Gender Neutral</a>"></a>
                                            </div>
                                            <div>
                                                <a href="~/Images/slider-03-31.jpg" rel="prettyPhoto[pp_gal_81]" title="<a href=''>The Corner Goes Gender Neutral</a>"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="portfolio-item Fashion Summer ">
                                        <div class="entry-thumbnail icon">
                                            <img class="img-porfolio" src="~/Images/porfolio-05.jpg" alt="Dior and I">
                                            <div class="entry-thumbnail-hover">
                                                <div class="entry-hover-wrapper">
                                                    <div class="entry-hover-inner">
                                                        <a href="~/Images/porfolio-05.jpg" rel="prettyPhoto[pp_gal_70]" title="Dior and I">
                                                            <i class="pe-7s-search"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="display: none"></div>
                                    </div>
                                    <div style="clear:both"></div>
                                </div>
                            </div>
                            <script type="text/javascript">
                                    (function($) {

                                        $(document).ready(function(){
                                            $('.portfolio-item > div.entry-thumbnail').hoverdir();
                                            PortfolioAjaxAction.init('http://themes.g5plus.net/zorka/wp-admin/admin-ajax.php');
                                        })

                                    })(jQuery);
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="vc_row wpb_row vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="wpb_wrapper">
                            <div class="zorka-testimonial style4 ">
                                <h6>WHAT THEY SAY</h6>
                                <div class="owl-carousel" data-plugin-options='{"singleItem" : true,"pagination": true, "autoPlay": true}'>
                                    <div class="testimonial-item">
                                        <img width="100" height="100" src="~/Images/testimonials-2.jpg" class="attachment-full" alt="TONY PANDORA" title="TONY PANDORA">
                                        <p class="testimonial-name">TONY PANDORA</p>
                                        <p class="testimonial-job">Stylist</p>
                                        <p class="testimonial-content">Over the past 3 years, I’ve had several couture gowns designed by Kathleen, all beautiful and unique. She has an exquisite selection of gorgeous fabrics and is able to fashion a design that both suits my personality and that of the fabric.</p>
                                    </div>
                                    <div class="testimonial-item">
                                        <img width="100" height="100" src="~/Images/testimonial-1.jpg" class="attachment-full" alt="ROLLY MARY" title="ROLLY MARY">
                                        <p class="testimonial-name">ROLLY MARY</p>
                                        <p class="testimonial-job">Creative Manager</p>
                                        <p class="testimonial-content">Since my first experience at Todoruk Couture 13 years ago, “off the rack” holds no temptation. The unique clothing of beautiful design, materials, fit and comfort; all realized in the utmost enjoyable atmosphere. The new atelier itself deserves a visit.</p>
                                    </div>
                                    <div class="testimonial-item">
                                        <img width="100" height="100" src="~/Images/testimonials-3.jpg" class="attachment-full" alt="Catherine Finlayson" title="Catherine Finlayson">
                                        <p class="testimonial-name">Catherine Finlayson</p>
                                        <p class="testimonial-job">Stylish Designer</p>
                                        <p class="testimonial-content">Kathleen brings to my wardrobe the pieces that make me feel confident, comfortable and fashionably “me”. From a basic tailored white shirt, lined pant, business jacket to a formal dress, Kathleen has always created something that is uniquely ‘me’ with such fine detail and in the best of fabrics. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fullwidth">
                <div class="vc_row wpb_row vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="wpb_wrapper">
                            <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text"><span class="vc_sep_holder vc_sep_holder_l"><span style="border-color:#eeeeee;" class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span style="border-color:#eeeeee;" class="vc_sep_line"></span></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fullwidth">
                <div class="vc_row wpb_row vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="wpb_wrapper">
                            <div class="zorka-heading style2 ">
                                <div class="content-middle-inner">
                                    <h2>MEET OUR TEAM</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="vc_row wpb_row vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="wpb_wrapper">
                            <div class="zorka-our-team style1 ">
                                <div class="row">
                                    <div class="our-team-item col-lg-3 col-md-3 col-sm-6  col-xs-12">
                                        <div class="our-team-image">
                                            <a href="" title="LILA SIMPSON"><img width="270" height="360" src="~/Images/our-team-1.jpg" class="attachment-full" alt="LILA SIMPSON" title="LILA SIMPSON"></a>
                                        </div>
                                        <a class="our-team-name" href="" title="LILA SIMPSON">LILA SIMPSON</a>
                                        <p>Stylist</p>
                                        <ul class="our-team-social">
                                            <li><a data-toggle="tooltip" href="http://facebook.com" class="facebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a data-toggle="tooltip" href="http://twiter.com" class="twitter" title="Twitter "><i class="fa fa-twitter"></i></a></li>
                                            <li><a data-toggle="tooltip" href="http://google.com" class="google" title="Google"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a data-toggle="tooltip" href="http://dribbble.com" class="dribbble" title="Dribbble "><i class="fa fa-dribbble"></i></a></li>
                                            <li><a data-toggle="tooltip" href="http://linked.com" class="linkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="our-team-item col-lg-3 col-md-3 col-sm-6  col-xs-12">
                                        <div class="our-team-image">
                                            <a href="" title="JOHNSON SMITH"><img width="270" height="360" src="~/Images/our-team-2.jpg" class="attachment-full" alt="JOHNSON SMITH" title="JOHNSON SMITH"></a>
                                        </div>
                                        <a class="our-team-name" href="" title="JOHNSON SMITH">JOHNSON SMITH</a>
                                        <p>Fashion Designer</p>
                                        <ul class="our-team-social">
                                            <li><a data-toggle="tooltip" href="http://facebook.com" class="facebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a data-toggle="tooltip" href="http://twiter.com" class="twitter" title="Twitter "><i class="fa fa-twitter"></i></a></li>
                                            <li><a data-toggle="tooltip" href="http://google.com" class="google" title="Google"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a data-toggle="tooltip" href="http://dribbble.com" class="dribbble" title="Dribbble "><i class="fa fa-dribbble"></i></a></li>
                                            <li><a data-toggle="tooltip" href="http://linked.com" class="linkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="our-team-item col-lg-3 col-md-3 col-sm-6  col-xs-12">
                                        <div class="our-team-image">
                                            <a href="" title="BARNEY MOLLY"><img width="270" height="360" src="~/Images/our-team-3.jpg" class="attachment-full" alt="BARNEY MOLLY" title="BARNEY MOLLY"></a>
                                        </div>
                                        <a class="our-team-name" href="" title="BARNEY MOLLY">BARNEY MOLLY</a>
                                        <p>Stylist</p>
                                        <ul class="our-team-social">
                                            <li><a data-toggle="tooltip" href="http://facebook.com" class="facebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a data-toggle="tooltip" href="http://twiter.com" class="twitter" title="Twitter "><i class="fa fa-twitter"></i></a></li>
                                            <li><a data-toggle="tooltip" href="http://google.com" class="google" title="Google"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a data-toggle="tooltip" href="http://dribbble.com" class="dribbble" title="Dribbble "><i class="fa fa-dribbble"></i></a></li>
                                            <li><a data-toggle="tooltip" href="http://linked.com" class="linkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="our-team-item col-lg-3 col-md-3 col-sm-6  col-xs-12">
                                        <div class="our-team-image">
                                            <a href="" title="JUDY WINTER"><img width="270" height="360" src="~/Images/our-team-4.jpg" class="attachment-full" alt="JUDY WINTER" title="JUDY WINTER"></a>
                                        </div>
                                        <a class="our-team-name" href="" title="JUDY WINTER">JUDY WINTER</a>
                                        <p>Model</p>
                                        <ul class="our-team-social">
                                            <li><a data-toggle="tooltip" href="http://facebook.com" class="facebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a data-toggle="tooltip" href="http://twiter.com" class="twitter" title="Twitter "><i class="fa fa-twitter"></i></a></li>
                                            <li><a data-toggle="tooltip" href="http://google.com" class="google" title="Google"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a data-toggle="tooltip" href="http://dribbble.com" class="dribbble" title="Dribbble "><i class="fa fa-dribbble"></i></a></li>
                                            <li><a data-toggle="tooltip" href="http://linked.com" class="linkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fullwidth">
                <div data-vc-parallax="1.5" class="vc_row wpb_row vc_row-fluid vc_custom_1444361040267 vc_general vc_parallax vc_parallax-content-moving">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="wpb_wrapper">
                            <div class="container">
                                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-3">
                                        <div class="wpb_wrapper">
                                            <div class="zorka-counter ">
                                                <span class="display-percentage" data-percentage="45000">45000</span>
                                                <p class="counter-title">LOVELY CUSTOMERS</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-3">
                                        <div class="wpb_wrapper">
                                            <div class="zorka-counter ">
                                                <span class="display-percentage" data-percentage="7750">7750</span>
                                                <p class="counter-title">FACEBOOK FANS</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-3">
                                        <div class="wpb_wrapper">
                                            <div class="zorka-counter ">
                                                <span class="display-percentage" data-percentage="19500">19500</span>
                                                <p class="counter-title">PRODUCTS</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-3">
                                        <div class="wpb_wrapper">
                                            <div class="zorka-counter ">
                                                <span class="display-percentage" data-percentage="3570">3570</span>
                                                <p class="counter-title">RATINGS</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="vc_row wpb_row vc_row-fluid margin-top-50 margin-bottom-50">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="wpb_wrapper">
                            <div class="zorka-partner-carousel   container">
                                <div class="owl-carousel" data-plugin-options='{"items" : 5, "autoPlay": false,"pagination": false}'>
                                    <div class="content-middle-inner"><img width="114" height="96" src="~/Images/partner1.png" class="attachment-full" alt="partner1"></div>
                                    <div class="content-middle-inner"><img width="115" height="96" src="~/Images/partner2.png" class="attachment-full" alt="partner2"></div>
                                    <div class="content-middle-inner"><img width="115" height="96" src="~/Images/partner3.png" class="attachment-full" alt="partner3"></div>
                                    <div class="content-middle-inner"><img width="115" height="96" src="~/Images/partner4.png" class="attachment-full" alt="partner4"></div>
                                    <div class="content-middle-inner"><img width="115" height="96" src="~/Images/partner5.png" class="attachment-full" alt="partner5"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

